@use "@/scss/variables/colors" as *;
@use "@/scss/variables/media-queries" as *;
@use "@/scss/mixins/media-queries" as *;

.btn-content {
    align-items: center;
    display: flex;
    padding-bottom: 40px;
    padding-top: 24px;

    @include screen-min-width($medium) {
        padding-bottom: 60px;
        padding-top: 96px;
    }
}

.icon {
    height: 24px;
    transform: rotate(90deg);
    width: 24px;

    path {
        stroke: $color-charcoal-dark;
    }

    @include screen-min-width($medium) {
        height: 30px;
        width: 30px;
    }
}
