$color-charcoal: #282828;
$color-charcoal-dark: #111;
$color-pewter: #787878;
$color-silver: #888;
$color-hbr-red: #c82502;
$color-marine: #0787b1;
$color-white: #fff;
$legacy-color-gray-light: #d5d7d8;
$legacy-color-gray: #c5c8c9;
$legacy-color-red-light: #fe5502;
$legacy-color-maroon: #a01e02;
$legacy-color-gray-lighter: #c8c8c8;
$legacy-color-gray-medium: #b3b3b3;
$legacy-color-gray-dark: #3c3c3c;
$legacy-color-border-gray: #cdcdcd;

/* Colors copied from figma */
$color-teal: #075e64;
$color-tertiary-pewter: #666;
$color-background-cloud: #f5f6f8;
$color-lightest-link: #767676;
$color-border-light-gray: #e2e2e2;
$color-ui-border: #8f8f8f;
$color-border-light-grey: #e2e2e2;
$color-box-shadow: rgba(40, 40, 40, 0.25);
$color-checkbox-selected: #cfcece;
$color-secondary-icon: #505050;
$color-secondary-pewter: #717171;
