@use "@/scss/variables/colors" as *;
@use "@/scss/variables/media-queries" as *;
@use "@/scss/mixins/media-queries" as *;
@use "@/scss/variables/fonts" as *;

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-container {
    display: block;
    margin-top: 1.5rem;
    width: 100%;

    @include medium-size {
        margin: 3rem auto 0;
        width: 50%;
    }
}

.image-404 {
    width: 100%;
}
