@use "@/scss/variables/colors" as *;
@use "@/scss/variables/fonts" as *;

.box {
    background-color: $color-hbr-red;
    border-radius: 8px;
    color: #adadad;
    font-family: $font-stack-sans-serif;
    padding: 100px;
    text-align: center;
}
